button, input[type="button"], input[type="submit"] { 

    color:#dccdc;
    font-color:#1e90ff;
    background-color:#ffffff; 
    border:2px solid; 
    border-radius:5px;
    border-color:#dccdc;
    margin:10px;
} 

body {
    font-color:#1e90ff;
}

p {
    font-family:Arial;
}
